{% load static %}
<div class="container-fluid container1">
    <div class="row">
      <h1 class="title" id="about">about us</h1>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  order-1 order-md-0">
          <div class="about1">
            <div>
                <p>Vicky Autos Ltd is an autombile company aimed at selling
                  the best luxury vehicles to our clients.
                </p>
                <p>With our customer records hiting a 1000 customers under three 
                  months of established, we aim at becoming the top automobile company
                  by selling the best luxury vehicles and fixing the best insurance
                  policies on our luxury vehicles.
            </div>
          </div>
        </div>

        
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  order-0 order-md-1">
          <div class="about2">
            <div class="aboutimg">
                <img src="{% static '' %}image/logo.jpg"  alt="">
            </div>
          </div>

        </div>
    </div>
  </div>
